*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
form{
    padding: 30px;
    height: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid white;
    gap: 10px;
}
input{
    padding: 10px 20px;
    background: white;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
button{
    padding: 10px 20px;
    border: 1px solid whitesmoke;
    background: blue;
    color: white;
    border-radius: 10px;
    border: none;
}
.card{
    margin-top: 20px;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.user_card{
    background: gray;
    height: 40%;
    width: 20%;
    border-radius: 10px;
    border: 1px solid white;
      padding: 10px;
}
.img_box{
    height: 80%;
}
.img_box img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.text{
    padding: 10px;
}
